.vscode/**
.gitignore
src/**
test/**
tsconfig.json
esbuild.js
debug-load.js
node_modules/**
!node_modules/puppeteer-core/**
!node_modules/@puppeteer/**
!node_modules/chromium-bidi/**
!node_modules/devtools-protocol/**
!node_modules/typed-query-selector/**
!node_modules/webdriver-bidi-protocol/**
!node_modules/ws/**
../ColaMD-extend/**
**/*.ts
**/*.map
!out/**/*.js
!out/**/*.css
!out/**/*.html
.claude/**
.trae/**
